@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f0f0f;
    color:white;
}

.hero{
    min-height:100vh;
    background:
    linear-gradient(
    rgba(0,0,0,.55),
    rgba(0,0,0,.65)),
    url("https://images.unsplash.com/photo-1509042239860-f550ce710b93");
    background-size:cover;
    background-position:center;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
}

.logo{
    font-size:28px;
    font-weight:700;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#c59d5f;
}

.hero-content{
    height:85vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:0 8%;
    max-width:700px;
}

.tag{
    color:#c59d5f;
    letter-spacing:3px;
    margin-bottom:15px;
}

.hero-content h1{
    font-size:70px;
    line-height:1.1;
    margin-bottom:20px;
}

.hero-content p{
    font-size:18px;
    color:#ddd;
    margin-bottom:30px;
}

.buttons{
    display:flex;
    gap:15px;
}

.btn{
    padding:15px 35px;
    background:#c59d5f;
    color:#fff;
    text-decoration:none;
    border-radius:50px;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-4px);
}

.btn-outline{
    padding:15px 35px;
    border:1px solid rgba(255,255,255,.4);
    backdrop-filter:blur(10px);
    color:white;
    text-decoration:none;
    border-radius:50px;
}

.hero-content{
    animation:fadeUp 1s ease;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@media(max-width:768px){

    nav ul{
        display:none;
    }

    .hero-content h1{
        font-size:45px;
    }

    .buttons{
        flex-direction:column;
    }
}
